
<!-- <nav class="sidenav">
    <section class="sidenav-content">
        <a routerLink="" class="nav-link">
           EBooks
        </a>
        <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Survey & Reports</label>
            <ul class="nav-list">
                <li><a class="nav-link" routerLink="library">Library</a></li>
                <li><a class="nav-link active" routerLink="reports" aria-current="page">Reports</a></li>
            </ul>
        </section>
        <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Home</label>
            <ul class="nav-list">
                <li><a class="nav-link" routerLink="about">About</a></li>
                <li><a class="nav-link" routerLink="my-library">My Library</a></li>
                <li><a class="nav-link" routerLink="profile">Profile</a></li>
            </ul>
        </section>
       
    </section>
</nav> -->
<clr-vertical-nav>
    <a clrVerticalNavLink routerLink="library" routerLinkActive="active">Library</a>
    <a clrVerticalNavLink routerLink="reports" routerLinkActive="active">Reports</a>
    <a clrVerticalNavLink routerLink="about" routerLinkActive="active">About</a>
    <!-- <a clrVerticalNavLink routerLink="my-library" routerLinkActive="active">My Library</a> -->
    <a clrVerticalNavLink routerLink="profile" routerLinkActive="active">Profile</a>
    <a clrVerticalNavLink routerLink="users" routerLinkActive="active">Users List</a>
    <div class="nav-divider"></div>
    <a clrVerticalNavLink routerLink="my-library" routerLinkActive="active">My Library</a>
</clr-vertical-nav>
